<p>Wij willen <strong>alle</strong> leden een kans geven zich uit te spreken over de volgende vraag:</p>
<hr>
<h5 class="for-red">Wil je het huidige (interim) bestuur door laten gaan of wil je dat er verkiezingen gehouden worden?</h5>
<hr>
<p>Momenteel heeft De Foresters een interim bestuur, bestaande uit Sjoerd Stoker (Voorzitter), Remco Teerhuis (Penningmeester) en Mark Lindeman (Secretaris). 
	Het interimbestuur is aangetreden met de bedoeling om het plan van de commissie <em>Foresters 2.0</em> (het interim bestuur aangevuld met Dennis Oostindie, 
	Tom Leguit en Marc Brunekreef) te implementeren en daarna een nieuw bestuur door de leden te laten kiezen.
<p>Om iedereen een kans te geven om zijn stem uit te brengen, hebben wij deze website voor onze leden beschikbaar gesteld. 
	Je hebt uiteraard altijd al de mogelijkheid gehad om onze <abbr title="Algemene Ledenvergadering">ALV</abbr> bij te wonen,
	maar door nu het stemmen laagdrempelig te maken via deze website hopen we op een grote "opkomst" en daardoor een duidelijk mandaat voor het nieuwe bestuur.</p>
<h6>Spelregels verkiezingen (<em>de kleine lettertjes</em>)</h6>
<ol class="small">
	<li>alleen leden zijn gerechtigd om een stem uit te brengen;</li>
	<li>je kunt eenmalig je stem uitbrengen met de code die je van ons per e-mail hebt ontvangen, het is niet mogelijk om op de ALV te stemmen;</li>
	<li>het kan zijn dat je meerdere codes ontvangt, bijvoorbeeld als je meerdere kinderen bij De Foresters hebt spelen;</li>
	<li>je stem is anoniem; er is geen koppeling in het stemsysteem tussen je code/je e-mailadres en de door jou uitgebrachte stem;</li>
	<li>je hebt tot uiterlijk zondagnacht 22 maart om je stem uit te brengen;</li>
	<li>het huidig interim bestuur wordt verkozen tot nieuw bestuur als er tenminste 50 stemmen worden uitgebracht én 
		een meerderheid van 50% + 1 stem van de uitgebrachte stemmen (26 stemmen dus) ervoor kiest om het huidige (interim) bestuur door te laten gaan;</li>
	<li>als er niet meer dan 50 stemmen worden uitgebracht, zijn de verkiezingen niet geldig en zal het interim bestuur zich beraden op haar positie;</li>
	<li>bij het vermoeden van fraude kan het bestuur de verkiezingen ongeldig verklaren.</li>
</ol>
