<p class="lead">Welkom bij de 2020 bestuursverkiezingen van Sportvereniging De Foresters!</p>
<p>Snelle uitleg stemprocedure (een uitgebreidere toelichting <a href="#/uitleg">vind je hier</a>):</p>
<ol>
	<li><a href="#/kandidaten">bekijk de presentatie</a> van de kandidaten;</li>
	<li><a href="#/login">vraag een stemcode aan</a> met je e-mailadres en KNVB lidmaatschapsnummer;</li>
	<li>gebruik de code die je per e-mail ontvangt om je <a href="#/vote">stem uit te brengen</a>;</li>
	<li>niet verplicht maar wel leuk: kom naar de ALV op 25 maart!</li>
</ol>
<p><em>@TODO: Wervende tekst van Marc Brunekreef&hellip;</em></p>

