<h2>Uitleg over onze stemprocedure</h2>
<p>Momenteel heeft De Foresters een interim bestuur, bestaande uit Sjoerd Stoker (Voorzitter), Remco Teerhuis (Penningmeester) en Mark Lindeman (Secretaris). 
	Het interimbestuur is aangetreden met de bedoeling om het plan van de commissie <em>Foresters 2.0</em> (het interim bestuur aangevuld met Dennis Oostindie, Tom Leguit en Marc Brunekreef) te implementeren en daarna een nieuw bestuur door de leden te laten kiezen.
<p>Om iedereen een kans te geven om zijn stem uit te brengen, hebben wij deze website voor onze leden beschikbaar gesteld. 
	Je hebt uiteraard altijd al de mogelijkheid gehad om onze <abbr title="Algemene Ledenvergadering">ALV</abbr> bij te wonen,
	maar door nu het stemmen laagdrempelig te maken via deze website hopen we op een grote "opkomst" en daardoor een duidelijk mandaat voor het nieuwe bestuur.</p>
<ul>
	<li>Om te kunnen stemmen heb je je KNVB lidmaatschapsnummer nodig (een tekenreeks bestaande uit 7 hoofletters en cijfers, bijvoorbeeld <em>BBFZ74I</em>) en het e-mailadres waarmee je bekend bent bij De Foresters.</li>
	<li>Je hebt tot uiterlijk xx maart middernacht om je stem uit te brengen.</li>
	<li>Per lid is er één stem uit te brengen. Een uitgebrachte stem is na bevestiging definitef en kan niet meer worden aangepast.</li>
	<li>Het stemmen is 100% anoniem. We hebben in de "stemcomputer" weliswaar zowel je lidmaatschapnummer als je email opgeslagen om er voor te zorgen dat elk lid maar één keer kan stemmen, maar je stem zelf wordt niet gekoppeld aan deze gegevens en is dus niet terug te herleiden naar jou.</li>
	<li>De kandidaten waarop je kunt stemmen hebben zich eerder kenbaar gemaakt bij het huidige bestuur en zijn door dit bestuur voorgedragen.</li>
	<li>Er zijn twee type kandidaten:
		<ul>
			<li>Individuele kandidaten: personen die beschikbaar zijn om een bestuursfunctie te vervullen, maar geen voorkeur hebben voor de andere personen in het te vormen bestuur;</li>
			<li>Kandidaten die van te voren al hebben aangegeven dat ze een bestuur willen vormen met twee anderen.</li>
		</ul>
		Een stem op het tweede type kandiaat (compleet bestuur) telt 3 keer mee, je stemt immers impliciet op drie personen.
	</li> 
</ul>
<p>Bedankt dat je je stem wilt uitbrengen, de uitslag wordt gepresenteerd op 25 maart tijdens de ALV. Uiteraard ben je meer dan welkom om hier bij te zijn!</p>